#Directory with XML files describing HTTPS Everywhere rulesets
[rulesets]
rulesdir = /path/to/https-everywhere/src/chrome/content/rules

#Certificate trust anchors for checking chains in HTTPS connections
[certificates]
basedir = platform_certs

#HTTP(S) fetching options
#Timeouts are in seconds.
[http]
connect_timeout = 10
read_timeout = 15