#Directory with XML files describing HTTPS Everywhere rulesets
[rulesets]
rulesdir = /path/to/https-everywhere/src/chrome/content/rules

#Certificate trust anchors for checking chains in HTTPS connections
[certificates]
basedir = platform_certs

#HTTP(S) fetching options
# Timeouts are in seconds.
# user_agent is optional, by default PyCURL's UA is used
# curl_verbose - optional boolean parameter to turn on PyCURL debug output
[http]
connect_timeout = 10
read_timeout = 15
redirect_depth = 10
#user_agent = Mozilla/5.0 (X11; Linux x86_64; rv:14.0) Gecko/20100101 Firefox/14.0.1
#curl_verbose = true

#Logging
# logfile - filename or use - for stderr
# loglevel - minimal log messages severity - one of debug, info, warn, error, fatal
[log]
logfile = -
loglevel = debug

#Metric and threshold for marking two HTML pages "different"
# metric - what metric to use, either "markup" or "bsdiff"
# threshold - float value in range [0, 1]; distance >= threshold will be reported
[thresholds]
metric = markup
max_distance = 0.1