#Directory with XML files describing HTTPS Everywhere rulesets
[rulesets]
rulesdir = src/chrome/content/rules
check_coverage = true
include_default_off = false

#Certificate trust anchors for checking chains in HTTPS connections
[certificates]
basedir = https-everywhere-checker/platform_certs

[http]
# Don't bother doing HTTP, we are just checking coverage and want it to be fast.
enabled = false
connect_timeout = 10
read_timeout = 15
redirect_depth = 10
threads = 10
fetch_in_subprocess = false

[log]
logfile = -
loglevel = error

[thresholds]
metric = markup
max_distance = 0.1

[debug]
graphviz_file = HTEC_trie.dot
exit_after_dump = true
