[rulesets]
# Directory with XML files describing HTTPS Everywhere rulesets
rulesdir = /home/jsha/https-everywhere/src/chrome/content/rules
check_coverage = false
auto_disable = true

[certificates]
# Certificate trust anchors for checking chains in HTTPS connections
basedir = https-everywhere-checker/platform_certs

[http]
connect_timeout = 10
read_timeout = 15
redirect_depth = 10
threads = 20
#user_agent = Mozilla/5.0 (X11; Linux x86_64; rv:14.0) Gecko/20100101 Firefox/14.0.1
#curl_verbose = true
#ssl_version = TLSv1
fetch_in_subprocess = false
#static_ca_path = platform_certs/firefox_transvalid
#url_list = urls

[log]
logfile = -
loglevel = error

[thresholds]
metric = markup
max_distance = 0.1
